body {
  font-family: sans-serif;
}

/********** Button **********/

.btn-main {
  border: 2px solid #00a3e1;
  width: 100px;
  border-radius: 7px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  color: #222;
  font-weight: 500;
  position: relative;
  line-height: 100%;
  letter-spacing: 1px;
  overflow: hidden;
  color: #00a3e1;
  text-align: center;
}

.btn-main:hover,
.btn-main:focus {
  color: #fff;
}

.btn-main:hover:after,
.btn-main:focus:after {
  opacity: 1;
  left: 0;
  width: 100%;
}

.btn-main:after {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  left: 35%;
  background-color: #00a3e1;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}
